%h3== #{@part.new_record? ? 'New Part' : 'Editing Part'} #{@part.position}: #{@part.title}
= error_messages_for :part
- form_for([@unit, @part]) do |f|
  = f.hidden_field :position,  :value => params[:position]
  - if @part.new_record?
    = f.select :part_type, @unit.allowed_part_types
  - else
    = f.select :part_type, @part.unit.allowed_part_types, :default => @part.part_type
  .float_right
    %strong Grading Weight (1 to 100; leave blank if this part isn't graded)
    ~ f.text_field :grading_weight, :style => 'width:20px;'
    %br.clear_both/  
  %br/
  %strong Title
  %p~ f.text_field :title
  %br/
  %strong Body or Instructions
  -# determine this according to type
  %p~ f.text_area :body_or_instructions, :class => 'mceEditor', :style => 'width:100%;'
  %strong Lecture Media (this is optional)
  %p~ f.text_area :lecture_media, :style => 'width:100%; height:20%;'
  %br.clear_both/
  #middle_column.text_centered
    == #{ @part.new_record? ? f.submit("Create") : f.submit("Update")} or
    = link_to "Cancel", @part.unit
