<h1>Listing parts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Unit</th>
    <th>Body or instructions</th>
    <th>Lecture media</th>
    <th>Position</th>
    <th>Grading weight</th>
    <th>Part type</th>
  </tr>

<% for part in @parts %>
  <tr>
    <td><%=h part.title %></td>
    <td><%=h part.unit_id %></td>
    <td><%=h part.body_or_instructions %></td>
    <td><%=h part.lecture_media %></td>
    <td><%=h part.position %></td>
    <td><%=h part.grading_weight %></td>
    <td><%=h part.part_type %></td>
    <td><%= link_to 'Show', part %></td>
    <td><%= link_to 'Edit', edit_part_path(part) %></td>
    <td><%= link_to 'Destroy', part, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New part', new_part_path %>
