<h1>New part</h1>

<%= error_messages_for :part %>

<% form_for(@part) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Unit</b><br />
    <%= f.text_field :unit_id %>
  </p>

  <p>
    <b>Body or instructions</b><br />
    <%= f.text_area :body_or_instructions %>
  </p>

  <p>
    <b>Lecture media</b><br />
    <%= f.text_area :lecture_media %>
  </p>

  <p>
    <b>Position</b><br />
    <%= f.text_field :position %>
  </p>

  <p>
    <b>Grading weight</b><br />
    <%= f.text_field :grading_weight %>
  </p>

  <p>
    <b>Part type</b><br />
    <%= f.text_field :part_type %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', parts_path %>
