<h1>Listing user_units</h1>

<table>
  <tr>
    <th>Parent</th>
    <th>User</th>
    <th>Unit</th>
    <th>Instructor</th>
    <th>Grade</th>
    <th>Percent completed if student</th>
  </tr>

<% for user_unit in @user_units %>
  <tr>
    <td><%=h user_unit.parent_id %></td>
    <td><%=h user_unit.user_id %></td>
    <td><%=h user_unit.unit_id %></td>
    <td><%=h user_unit.instructor %></td>
    <td><%=h user_unit.grade %></td>
    <td><%=h user_unit.percent_completed_if_student %></td>
    <td><%= link_to 'Show', user_unit %></td>
    <td><%= link_to 'Edit', edit_user_unit_path(user_unit) %></td>
    <td><%= link_to 'Destroy', user_unit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user_unit', new_user_unit_path %>
