<p>
  <b>Parent:</b>
  <%=h @user_unit.parent_id %>
</p>

<p>
  <b>User:</b>
  <%=h @user_unit.user_id %>
</p>

<p>
  <b>Unit:</b>
  <%=h @user_unit.unit_id %>
</p>

<p>
  <b>Instructor:</b>
  <%=h @user_unit.instructor %>
</p>

<p>
  <b>Grade:</b>
  <%=h @user_unit.grade %>
</p>

<p>
  <b>Percent completed if student:</b>
  <%=h @user_unit.percent_completed_if_student %>
</p>


<%= link_to 'Edit', edit_user_unit_path(@user_unit) %> |
<%= link_to 'Back', user_units_path %>
