.brightbottomborder.clear_both
  .minitab.float_right
    %ul
      %li= link_to "edit", edit_unit_path(@unit)
      %li= link_to "delete", unit_path(@unit)
  %h2= @unit.title
%hr
%strong Description:
= @unit.description
%br
%br.clear_both

- for part in @unit.parts
  .lesson.brightbottomborder.clear_both
    .minitab.float_right
      %ul
        %li{ :title => 'move' }
          =  link_to content_tag(:div, "", :class => 'mini_icon', :id => 'move') 
    = link_to "edit", edit_unit_part_path(@unit, part)
    = link_to "delete", unit_part_path(@unit, part)
    %h4== #{part.title}: #{part.description}
  .video.light_blue= part.lecture_media unless part.lecture_media.nil?
  %p= part.body_or_instructions 
