.brightbottomborder.clear_both
  .float_right
    = link_to "edit", edit_unit_path(@unit)
    = link_to "delete", @unit, :method => :delete
  %h2= @unit.title
%hr
%strong Description:
= @unit.description
%br
%br.clear_both

- for part in @unit.parts
  = render :partial => "parts/part_view", :locals => {:part => part}
