.unit.brightbottomborder.clear_both
  -# .check.float_left 90% If the user is a student
  .float_right
    = link_to "edit", edit_unit_unit_path(sub_unit.parent, sub_unit)
    = link_to "delete", sub_unit, :method => :delete
  = link_to sub_unit.title, sub_unit
  - for sub_sub_unit in sub_unit.sub_units
    %div{ :style => 'margin:1%;' }
      = render :partial => "other_unit", :locals => {:sub_unit => sub_sub_unit}
  - unless sub_unit.unit_type == "Lesson" || sub_unit.unit_type == "Lab"
    - for part in sub_unit.parts
      %div{ :style => 'margin:1%;' }
        = render :partial => "parts/compact_part", :locals => {:part => part}