%h3== #{@unit.new_record? ? 'New' : 'Editing'} #{@unit.unit_type}: #{@unit.title}
= error_messages_for :unit
- form_for(@unit) do |f|
  = f.hidden_field :parent_id, :value => params[:parent_id]
  = f.hidden_field :position,  :value => params[:position]
  = f.hidden_field :unit_type, :value => params[:unit_type]
  %br/
  %strong Title
  %p~ f.text_field :title, :style => 'width:100%;'
  %strong Description
  %p~ f.text_area :description, :class => 'mceEditor', :style => 'width:100%;'
  %br.clear_both/
  #middle_column.text_centered
    == #{ @unit.new_record? ? f.submit("Create") : f.submit("Update")} or
    = link_to "Cancel", @unit.parent || units_path
