<h1>Editing unit</h1>

<%= error_messages_for :unit %>

<% form_for(@unit) do |f| %>
  <p>
    <b>Parent</b><br />
    <%= f.text_field :parent_id %>
  </p>

  <p>
    <b>Position</b><br />
    <%= f.text_field :position %>
  </p>

  <p>
    <b>Unit type</b><br />
    <%= f.text_field :type %>
  </p>

  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @unit %> |
<%= link_to 'Back', units_path %>
