-# nav_bar
  .login.float_right
    = link_to "login"
    |
    = link_to "register"
  .breadcrumbs.float_left
    .plain.float_right
      Home
  %br/
  %br/

%p{ :style => 'font-size:220%; text-align:center; color:#FF7A00' }
  %strong ezLearnz: the next-generation textbook...
%p{ :style => 'font-size:120%; text-align:center;' }
  with courses and tutorials that anyone can create, edit and use.
  Read more about ezlearnz
  = link_to "here.", "http://blog.ezlearnz.com/post/29205280"
%br/
%br/

#left_column
  %h3 Students
  %hr.bright/
  Enroll in the subjects that interest you. Learn, track your progress, get better.
  %br/
  %br/
  %strong Subjects I'm Learning
  .subject
    %italic Coming Soon!
    
#right_column
  %h3 Course Listing
  - unless @subjects.empty?
    %strong Subjects
    .subject
      - for fragment in @subjects
        %hr.bright/
        = link_to "#{fragment.title}", fragment
        = link_to "delete", unit_path(fragment), :confirm => 'Are you sure?', :method => :delete
  - unless @fragments.empty?
    %strong Fragments
    .subject
      - for fragment in @fragments
        %hr.bright/
        = link_to "#{fragment.title}", fragment
        = link_to "delete", unit_path(fragment), :confirm => 'Are you sure?', :method => :delete
      
#middle_column
  %h3 Teachers
  %hr.bright/
  Teach the subjects you know. Add content, questions and answers, and explanations.
  %br/
  %br/
  %strong Subjects I'm Teaching
  .subject
    Coming Soon!
  %p= link_to "Create a New Subject", new_unit_path(:unit_type => 'Subject')
  %p= link_to "Create a New Fragment", new_unit_path
