%p{ :style => 'font-size:220%; text-align:center; color:#FF7A00' }
  %strong ezLearnz: the next-generation textbook...
%p{ :style => 'font-size:120%; text-align:center;' }
  with courses and tutorials that anyone can create, edit and use.
  Read more about ezlearnz
  = link_to "here.", "http://blog.ezlearnz.com/post/29205280"
%br/
%br/

#left_column
  %h3 Students
  %hr.bright/
  Enroll in the subjects that interest you. Learn the subjects, track your progress, get better.
  %br/
  %br/
  %strong Subjects I'm Learning
  .unit
    %italic Coming Soon!
    
#right_column
  %h3 Course Listing
  .unit
    - for subject in @subjects
      %hr.bright/
      .float_right
        = link_to "enroll", user_user_units_path(current_user), :method => :post
      = link_to "#{subject.title}", subject
  %br/
  - unless @fragments.empty?
    %h3 Fragments
    .unit
      - for fragment in @fragments
        %hr.bright/
        = link_to "#{fragment.title}", fragment
      
#middle_column
  %h3 Teachers
  %hr.bright/
  Teach the subjects you know. Add content, questions and answers, and explanations.
  %br/
  %br/
  %strong Subjects I'm Teaching
  .unit
    - if current_user && !current_user.authored_units.empty?
      - for unit in current_user.authored_units
        - unless !unit.parent.nil? && unit.parent.author_id == current_user.id
          %hr.bright/
          = link_to "#{unit.title}", unit
          = link_to "delete", unit_path(unit), :confirm => 'Are you sure?', :method => :delete
    - else
      %small You don't have any subjects you're teaching. Create one by clicking on the link below!
  %br/
  %p= link_to "Create a New Subject", new_unit_path
