%h3== New #{params[:type] || "Unit" }
= error_messages_for :unit
- form_for(@unit) do |f|
  = f.hidden_field :parent_id, :value => params[:parent_id]
  = f.hidden_field :position,  :value => params[:position]
  = f.text_field :type,        :value => params[:type]
  %br/
  %strong Title
  %br/
  ~ f.text_field :title, :style => 'width:95%;'
  %br/
  %strong Description
  %br/
  ~ f.text_area :description, :class => 'mceEditor', :style => 'width:95%;'
  %br.clear_both/
  #middle_column.text_centered== #{f.submit "New"} or #{link_to "Cancel", @unit.parent || units_path }