= error_messages_for :unit
-# What is a more compact way to write this?
- if @unit.unit_type == "Lesson" || @unit.unit_type == "Lab"
  = render :partial => "lesson_or_lab"
- else
  .unit.brightbottomborder.clear_both
    .float_right
      = link_to "edit", edit_unit_path(@unit)
      = link_to "delete", @unit, :method => :delete
    %h2= @unit.title
  %hr/
  %strong Description:
  = @unit.description
  %br
  %br.clear_both
  - for sub_unit in @unit.sub_units
    = render :partial => "other_unit", :locals => {:sub_unit => sub_unit}
    %br/
  - for part in @unit.parts
    = render :partial => "parts/compact_part", :locals => {:part => part}