= error_messages_for :unit
- if @unit.unit_type = ("Lesson" || "Lab")
  = render :partial => "lesson_or_lab"
- else
  .brightbottomborder.clear_both
    .float_right
      = link_to "edit", edit_unit_path(@unit)
      = link_to "delete", @unit, :method => :delete
  %h2= @unit.title
  %hr
  %strong Description:
  = @unit.description
  %br
  %br.clear_both
  -for sub_unit in @unit.sub_units
    = render :partial => "other_unit", :locals => {:sub_unit => sub_unit}
